{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--fuentes de google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia&display=swap" rel="stylesheet">
    <!--iconos awesome fonts-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="shortcut icon" href="logos/512w.png">

    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Index</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="welcome-container">
        bienvenido {{ user.username }}
    </div>
    {% endif %}

    <header>
        <nav>
            <input type="checkbox" id="ckbox">
            <label for="ckbox" class="drawer">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </label>
                <h1>L'AMIGO</h1>
            <ul class="menu-box">
                {% if user.is_authenticated and not user.is_staff %}
                <li><a href="{% url 'seccion_mascota' %}" id="amigo">Amigo</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'servicios' %}">Servicios</a></li>
                <li><a href="{% url 'soporte' %}">Soporte</a></li>     
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login2' %}">Iniciar sesión</a></li>
                    <li><a href="{% url 'registro' %}">Registrarse</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contacto' %}">Contacto</a></li>
                    <li><a href="{% url 'servicios' %}">Servicios</a></li>
                    <li><a href="{% url 'soporte' %}">Soporte</a></li>                    
                {% endif %}


            </ul>
        </nav>
    </header>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var images = [
                '{% static "index-imgs/slider1.jpg" %}',
                '{% static "index-imgs/slider2.jpg" %}',
                '{% static "index-imgs/slider3.jpg" %}',
                '{% static "index-imgs/slider4.jpg" %}',
                '{% static "index-imgs/slider5.jpg" %}',
                '{% static "index-imgs/slider6.jpg" %}',
                '{% static "index-imgs/slider7.jpg" %}',
                '{% static "index-imgs/slider8.jpg" %}'
            ];
            var currentIndex = 0;
            var body = document.body;
        
            function changeBackground() {
                body.style.backgroundImage = 'url(' + images[currentIndex] + ')';
                currentIndex = (currentIndex + 1) % images.length;
            }
        
            // Cambiar la imagen cada 8 segundos
            setInterval(changeBackground, 3400);
        
            // Cambiar la imagen al cargar la página
            changeBackground();
        });
        
    </script>

    <main class="box-main">
        <div class="content">
            <h1>L'AMIGO</h1>
            <p>
                La mejor pagina para la gestion de la informacion<br>
                de tu mascota y optimizacion de tu tiempo<br>
            </p>
            <form>
                <li><a href="{% url 'blog' %}" class="nav-btn primary-btn">Blog</a></li>
                <li><a href="{% url 'nosotros' %}" class="nav-btn outline-btn">Sobre Nosotros</a></li>
            </form>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Compañia</h4>
                    <ul>
                        <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                        <li><a href="{% url 'servicios' %}">Nuestros servicios</a></li>
                        <li><a href="{% url 'politicas' %}">Politicas de privacidad</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="{% url 'preguntas' %}">Preguntas</a></li>
                        <li><a href="{% url 'soporte' %}">Soporte Tecnico</a></li>
                        <li><a href="{% url 'informes' %}">Reporte de fallas</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Noticias</h4>
                    <ul>
                        <li><a href="{% url 'avisos' %}">Avisos</a></li>
                        <li><a href="{% url 'actualizaciones' %}">Actualizaciones</a></li>
                        <li><a href="{% url 'arreglos' %}">Arreglos</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Apoyanos</h4>
                    <div class="social-links">
                        <a href="https://www.youtube.com/@Lamigo2023" target="_blank" id="youtube"><i id="youtube" class="fab fa-youtube"></i></a>
                        <a href="https://twitter.com/Lamigo0010" target="_blank" id="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.patreon.com/Lamigo" target="_blank" id="patreon"><i class="fab fa-patreon"></i></a>
                    </div>
                </div>

                <div>
                    
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

<!--Ya-->