body {
    margin: 0;
    height: 100vh;
    background-image: url('/static/soporte-tecnico/contacto.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    box-sizing: border-box;
    width: 25%;
    max-width: 400px;
    margin: 0;
    padding: 20px;
    background-color: rgba(215, 215, 215, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #000000;
}

.mascota-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 500ms ease;
    background-color: #ffffff;
}

button.btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #429546;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}